In [1]:
import subprocess

In [17]:
command = "cd datasets/GazeBase_TEX/Round_9; ls"
process = subprocess.Popen(command, shell=True, stdout=subprocess.PIPE, stderr=subprocess.STDOUT)
lines = process.stdout.readlines()

In [18]:
lines = [str(line.strip(), 'utf-8') for line in line]

TypeError: decoding str is not supported

In [14]:
for line in lines:
    command = f"cd datasets/GazeBase_TEX/Round_9; unzip {line}"
    process = subprocess.Popen(command, shell=True, stdout=subprocess.PIPE, stderr=subprocess.STDOUT)

In [3]:
with open('datasets/GazeBase_TEX/StimuliExamples/TEXTexts/TEX_R8S1_text.txt') as file:
    text = file.read()

In [21]:
lst = []
for line in [line for line in text.split('\n') if line != '']:
    lst.append(''.join([char for char in line if char not in string.punctuation]))

In [25]:
import pandas as pd

In [27]:
freq = pd.read_csv('datasets/tokens_freq.csv')

In [40]:
freq = freq.groupby('Word').max()

In [41]:
freq

             Lemma Head   Lemma CobMln   CobMln
Word
a                     a          23544    23543
able               able            328      327
aboard           aboard              9        9
about             about           2142     2142
absolute       absolute             42       42
...                 ...            ...      ...
you'll           you'll            121      121
you've           you've            199      199
your               your           1612     1612
yourselves   yourselves              8        8
zones              zone             16        5

[984 rows x 3 columns]

In [77]:
freq = freq[' Lemma CobMln'].to_dict()

In [104]:
output = ''
for line in lst:
    for word in line.split():
        word = word.lower()
        word_freq = str(freq.get(word, 1))
        if len(word_freq) < 5:
            word_freq = word_freq + ' ' * (5 - len(word_freq))
        word_leng = str(len(word))
        if len(word_leng) == 1:
            word_leng = word_leng + ' '
        word_prob = 0
        output += f' {word_freq} {word_leng} 0 {word}\n'
    output = output.rstrip()
    output += '.@\n'

In [105]:
len('\n')

1

In [107]:
with open('8_1_corpus.txt', 'w') as file:
    file.write(output)