In [1]:
import numpy as np
import pandas as pd

In [3]:
df = pd.read_csv('EMIB/eight_metrics_block_level.csv')

In [4]:
df.head()

,file,block,tokens,subject,duration,nSFD,nFFD,nGD,nTT,PrF,Pr1,Pr2,PrS,length,wpm
0,11,4,NaN,1,10447,NaN,57.366304,58.540217,115.437319,0.821429,0.250000,0.571429,0.178571,28,160.811716
1,11,2,NaN,1,11356,NaN,60.747985,61.331319,126.949679,0.812500,0.156250,0.656250,0.187500,32,169.073617
2,11,3,NaN,1,17383,NaN,80.019118,80.577941,161.241503,0.944444,0.166667,0.777778,0.055556,36,124.259334
3,11,5,NaN,1,7128,NaN,43.751948,48.321212,76.085660,0.733333,0.300000,0.433333,0.266667,30,252.525253
4,11,6,NaN,1,6742,NaN,53.124901,53.124901,71.359127,0.685714,0.400000,0.285714,0.314286,35,311.480273

In [16]:
df = pd.read_csv('EMIB/datasets/tokens_freq.csv')

In [18]:
df = df.groupby('Word').max()

In [22]:
df

             Lemma Head   Lemma CobMln   CobMln
Word
a                     a          23544    23543
able               able            328      327
aboard           aboard              9        9
about             about           2142     2142
absolute       absolute             42       42
...                 ...            ...      ...
you'll           you'll            121      121
you've           you've            199      199
your               your           1612     1612
yourselves   yourselves              8        8
zones              zone             16        5

[984 rows x 3 columns]

In [33]:
df = pd.read_csv('EMIB/datasets/freq_result.csv')

In [34]:
df = df.set_index('token')
df.head()

,index,round,session,participant,line_part,stimuli_image,stimuli_text,timestamp,duration,x_cord,y_cord,aoi_x,aoi_y,aoi_width,aoi_height,length,CobMln
token,,,,,,,,,,,,,,,,,
brought,11001_0,1,1,1,line 12 part 3,TEX_R1S1_bg.png,TEX_R1S1_text.txt,263.0,120,722.360000,488.112500,700.5,467.0,102.0,32.0,7,50
broker,11001_1,1,1,1,line 13 part 3,TEX_R1S1_bg.png,TEX_R1S1_text.txt,263.0,120,722.360000,488.112500,708.5,500.0,96.0,32.0,6,3
brought,11001_2,1,1,1,line 12 part 3,TEX_R1S1_bg.png,TEX_R1S1_text.txt,519.0,255,736.400394,491.933725,700.5,467.0,102.0,32.0,7,50
broker,11001_3,1,1,1,line 13 part 3,TEX_R1S1_bg.png,TEX_R1S1_text.txt,519.0,255,736.400394,491.933725,708.5,500.0,96.0,32.0,6,3
to,11001_4,1,1,1,line 12 part 4,TEX_R1S1_bg.png,TEX_R1S1_text.txt,698.0,161,809.180746,494.226708,803.5,467.0,28.0,32.0,2,19942

In [44]:
frequency = df["CobMln"].groupby('token').mean().to_dict()

### Generate Corpus and Target file for Round 1 Session 1

In [54]:
import string
output = ''
for line in open('EMIB/datasets/GazeBase_TEX/StimuliExamples/TEXTexts/TEX_R1S1_text.txt', 'r').readlines():
    if line == '\n':
        continue
    wordlist = line.strip().lower().split()
    for index in range(len(wordlist)):
        token = wordlist[index].strip(string.punctuation)
        freq = int(frequency.get(token, 1))
        leng = len(token)
        prob = "0.00"
        if index == len(wordlist)-1:
            token = token + ".@"
        fr = "{freq: < 6}{leng: < 4}{prob: <5}{token}".format(freq=freq, leng=leng, prob=prob, token=token)
        output += fr + '\n'
        
file = open('1_1_corpus.txt', 'w')
file.write(output)
file.close()

In [55]:
len(output.split('\n'))

200

In [56]:
with open('1_1_target.txt', 'w') as file:
    file.write('0\n' * 200)

### Run Shell Command Using Subprocess

In [57]:
import subprocess

In [58]:
cmd = ["ls"]
output = subprocess.Popen( cmd, stdout=subprocess.PIPE ).communicate()[0]

In [64]:
cmd = ["cd", "E-Z Reader/src"]
subprocess.Popen(cmd, stdout=subprocess.PIPE).communicate()

(b'', None)

In [70]:
cmd = "java CLI -so tracefile -o Simulation.txt -ic 1_1_corpus.txt -it 1_1_target.txt".split()
subprocess.Popen(cmd, stdout=subprocess.PIPE).communicate()

(b'', None)

In [79]:
p = subprocess.Popen('cd EZReader/src; java CLI -so tracefile -o Simulation_a.txt -ic 1_1_corpus.txt -it 1_1_target.txt', shell=True, stdout=subprocess.PIPE, stderr=subprocess.STDOUT)
for line in p.stdout.readlines():
    print(line)

b'Start corpus words\n'
b'Start target words\n'
b'Start display\n'

In [87]:
so = "worddvs"
o = "Simulation.txt"
ic = "1_1_corpus.txt"
it = "1_1_target.txt"
a1 = 125
subprocess.Popen(f'cd EZReader/src; java CLI -so {so} -o {o} -ic {ic} -it {it} -a1 {a1}', 
                     shell=True, stdout=subprocess.PIPE, stderr=subprocess.STDOUT)

### Merge to Block Level

In [99]:

lst = []
with open('EZReader/src/Simulation.txt', 'r') as file:
    for line in file.readlines():
        if line == ' First-fixation landing-site distributions:\n':
            break
        lst.append(line)

In [102]:
lst = [line.strip() for line in lst if line.startswith(' SFD')]

In [103]:
lst

['SFD 203  FFD 203  GD 211  TT 216  PrF 0.88 Pr1 0.82 Pr2 0.04 PrS 0.14 the',
 'SFD 241  FFD 228  GD 267  TT 281  PrF 0.98 Pr1 0.79 Pr2 0.18 PrS 0.03 place',
 'SFD 208  FFD 207  GD 210  TT 233  PrF 0.90 Pr1 0.84 Pr2 0.02 PrS 0.14 for',
 'SFD 228  FFD 234  GD 242  TT 240  PrF 0.44 Pr1 0.39 Pr2 0.02 PrS 0.59 a',
 'SFD 208  FFD 208  GD 331  TT 363  PrF 1.00 Pr1 0.46 Pr2 0.53 PrS 0.01 snark',
 'SFD 210  FFD 211  GD 217  TT 233  PrF 0.82 Pr1 0.74 Pr2 0.03 PrS 0.23 the',
 'SFD 257  FFD 239  GD 309  TT 320  PrF 0.97 Pr1 0.69 Pr2 0.28 PrS 0.03 bellman',
 'SFD 194  FFD 194  GD 194  TT 196  PrF 0.69 Pr1 0.67 Pr2 0.00 PrS 0.33 he',
 'SFD 236  FFD 212  GD 313  TT 334  PrF 1.00 Pr1 0.59 Pr2 0.38 PrS 0.03 landed',
 'SFD 227  FFD 227  GD 227  TT 232  PrF 0.87 Pr1 0.86 Pr2 0.00 PrS 0.14 his',
 'SFD 229  FFD 223  GD 263  TT 268  PrF 0.97 Pr1 0.80 Pr2 0.16 PrS 0.04 crew',
 'SFD 228  FFD 226  GD 241  TT 243  PrF 0.92 Pr1 0.83 Pr2 0.08 PrS 0.09 with',
 'SFD 255  FFD 248  GD 264  TT 280  PrF 0.99 Pr1 0.83 Pr2 0.07 PrS 0.10 each',
 'SFD 205  FFD 206  GD 215  TT 257  PrF 0.86 Pr1 0.80 Pr2 0.03 PrS 0.17 man',
 'SFD 212  FFD 213  GD 226  TT 236  PrF 0.69 Pr1 0.57 Pr2 0.04 PrS 0.39 on',
 'SFD 200  FFD 205  GD 226  TT 254  PrF 0.87 Pr1 0.76 Pr2 0.10 PrS 0.14 the',
 'SFD 215  FFD 210  GD 244  TT 261  PrF 0.86 Pr1 0.67 Pr2 0.15 PrS 0.18 top',
 'SFD 205  FFD 204  GD 217  TT 234  PrF 0.74 Pr1 0.66 Pr2 0.05 PrS 0.29 of',
 'SFD 187  FFD 195  GD 229  TT 230  PrF 0.91 Pr1 0.70 Pr2 0.18 PrS 0.12 the',
 'SFD 217  FFD 217  GD 217  TT 215  PrF 0.33 Pr1 0.32 Pr2 0.00 PrS 0.68 a',
 'SFD 240  FFD 221  GD Infinity  TT Infinity  PrF 1.00 Pr1 0.37 Pr2 0.63 PrS 0.00 finger',
 'SFD Infinity  FFD Infinity  GD Infinity  TT Infinity  PrF 0.98 Pr1 0.66 Pr2 0.27 PrS 0.07 entwined',
 'SFD Infinity  FFD Infinity  GD Infinity  TT Infinity  PrF 0.82 Pr1 0.66 Pr2 0.01 PrS 0.33 in',
 'SFD Infinity  FFD Infinity  GD Infinity  TT Infinity  PrF 0.73 Pr1 0.73 Pr2 0.00 PrS 0.27 his',
 'SFD 213  FFD 213  GD 213  TT 222  PrF 0.87 Pr1 0.85 Pr2 0.00 PrS 0.15 the',
 'SFD 240  FFD 232  GD 278  TT 306  PrF 1.00 Pr1 0.80 Pr2 0.19 PrS 0.01 place',
 'SFD 222  FFD 222  GD 227  TT 234  PrF 0.82 Pr1 0.76 Pr2 0.02 PrS 0.22 for',
 'SFD 221  FFD 223  GD 227  TT 236  PrF 0.56 Pr1 0.50 Pr2 0.02 PrS 0.48 a',
 'SFD 216  FFD 214  GD 322  TT 356  PrF 0.99 Pr1 0.52 Pr2 0.43 PrS 0.05 snark',
 'SFD 223  FFD 227  GD 233  TT 249  PrF 0.43 Pr1 0.38 Pr2 0.01 PrS 0.61 i',
 'SFD 200  FFD 221  GD 298  TT 329  PrF 0.98 Pr1 0.58 Pr2 0.40 PrS 0.02 have',
 'SFD 239  FFD 237  GD 251  TT 254  PrF 0.92 Pr1 0.81 Pr2 0.08 PrS 0.11 said',
 'SFD 203  FFD 204  GD 214  TT 220  PrF 0.67 Pr1 0.61 Pr2 0.03 PrS 0.36 it',
 'SFD 240  FFD 233  GD 244  TT 247  PrF 0.98 Pr1 0.90 Pr2 0.07 PrS 0.03 alone',
 'SFD 256  FFD 252  GD 276  TT 278  PrF 0.98 Pr1 0.90 Pr2 0.07 PrS 0.03 should',
 'SFD 306  FFD 261  GD 338  TT 344  PrF 0.99 Pr1 0.67 Pr2 0.31 PrS 0.02 encourage',
 'SFD 251  FFD 245  GD 251  TT 250  PrF 0.83 Pr1 0.74 Pr2 0.05 PrS 0.21 the',
 'SFD 214  FFD 214  GD 220  TT 224  PrF 0.88 Pr1 0.83 Pr2 0.04 PrS 0.13 the',
 'SFD 240  FFD 232  GD 267  TT 280  PrF 0.96 Pr1 0.80 Pr2 0.16 PrS 0.04 place',
 'SFD 217  FFD 215  GD 230  TT 251  PrF 0.85 Pr1 0.73 Pr2 0.07 PrS 0.20 for',
 'SFD 229  FFD 233  GD 240  TT 241  PrF 0.50 Pr1 0.45 Pr2 0.02 PrS 0.53 a',
 'SFD 198  FFD 202  GD 325  TT 381  PrF 0.99 Pr1 0.47 Pr2 0.52 PrS 0.01 snark',
 'SFD 226  FFD 226  GD 226  TT 235  PrF 0.39 Pr1 0.37 Pr2 0.00 PrS 0.63 i',
 'SFD 191  FFD 204  GD 325  TT 356  PrF 0.97 Pr1 0.43 Pr2 0.54 PrS 0.03 have',
 'SFD 223  FFD 217  GD 251  TT 268  PrF 0.85 Pr1 0.70 Pr2 0.13 PrS 0.17 said',
 'SFD 224  FFD 224  GD 230  TT 232  PrF 0.59 Pr1 0.55 Pr2 0.02 PrS 0.43 it',
 'SFD 236  FFD 236  GD 236  TT 234  PrF 0.54 Pr1 0.49 Pr2 0.00 PrS 0.51 i',
 'SFD 209  FFD 226  GD 315  TT 340  PrF 0.94 Pr1 0.51 Pr2 0.43 PrS 0.06 tell',
 'SFD 215  FFD 217  GD 242  TT 250  PrF 0.77 Pr1 0.59 Pr2 0.13 PrS 0.28 you',
 'SFD 223  FFD 214  GD 286  TT 344  PrF 0.97 Pr1 0.67 Pr2 0.30 PrS 0.03 three',
 'SFD 237  FFD 231  GD 259  TT 267  PrF 0.91 Pr1 0.77 Pr2 0.10 PrS 0.13 times',
 'SFD 228  FFD 230  GD 231  TT 233  PrF 0.74 Pr1 0.69 Pr2 0.01 PrS 0.30 is',
 'SFD 226  FFD 225  GD 226  TT 237  PrF 0.97 Pr1 0.94 Pr2 0.01 PrS 0.05 crew',
 'SFD 216  FFD 214  GD 223  TT 225  PrF 0.87 Pr1 0.79 Pr2 0.05 PrS 0.16 was',
 'SFD 267  FFD 239  GD 328  TT 363  PrF 0.99 Pr1 0.67 Pr2 0.32 PrS 0.01 complete',
 'SFD 237  FFD 237  GD 237  TT 232  PrF 0.63 Pr1 0.59 Pr2 0.00 PrS 0.41 it',
 'SFD 262  FFD 243  GD 367  TT 405  PrF 1.00 Pr1 0.55 Pr2 0.44 PrS 0.01 included',
 'SFD 264  FFD 264  GD 264  TT 261  PrF 0.52 Pr1 0.50 Pr2 0.00 PrS 0.50 a',
 'SFD 236  FFD 232  GD 240  TT 259  PrF 0.99 Pr1 0.94 Pr2 0.05 PrS 0.01 maker',
 'SFD 223  FFD 223  GD 223  TT 229  PrF 0.70 Pr1 0.67 Pr2 0.00 PrS 0.33 of',
 'SFD 241  FFD 224  GD 316  TT 328  PrF 1.00 Pr1 0.61 Pr2 0.38 PrS 0.01 bonnets',
 'SFD 237  FFD 236  GD 243  TT 245  PrF 0.78 Pr1 0.73 Pr2 0.03 PrS 0.24 and',
 'SFD 265  FFD 250  GD 291  TT 291  PrF 1.00 Pr1 0.88 Pr2 0.12 PrS 0.00 barrister',
 'SFD 301  FFD 271  GD 358  TT 364  PrF 0.98 Pr1 0.74 Pr2 0.24 PrS 0.02 brought',
 'SFD 245  FFD 245  GD 248  TT 242  PrF 0.60 Pr1 0.56 Pr2 0.01 PrS 0.43 to',
 'SFD 255  FFD 248  GD 324  TT 346  PrF 0.98 Pr1 0.67 Pr2 0.31 PrS 0.02 arrange',
 'SFD 243  FFD 239  GD 251  TT 252  PrF 0.96 Pr1 0.88 Pr2 0.06 PrS 0.06 their',
 'SFD 215  FFD 215  GD 215  TT 216  PrF 0.48 Pr1 0.47 Pr2 0.00 PrS 0.53 a',
 'SFD 214  FFD 215  GD 336  TT 360  PrF 1.00 Pr1 0.50 Pr2 0.50 PrS 0.00 broker',
 'SFD 233  FFD 235  GD 237  TT 237  PrF 0.60 Pr1 0.56 Pr2 0.01 PrS 0.43 to',
 'SFD 217  FFD 215  GD 292  TT 318  PrF 1.00 Pr1 0.62 Pr2 0.38 PrS 0.00 value',
 'SFD 243  FFD 233  GD 255  TT 251  PrF 0.98 Pr1 0.83 Pr2 0.11 PrS 0.06 their',
 'SFD Infinity  FFD Infinity  GD Infinity  TT Infinity  PrF 1.00 Pr1 0.63 Pr2 0.37 PrS 0.00 billiard-marker',
 'SFD Infinity  FFD Infinity  GD Infinity  TT Infinity  PrF 0.99 Pr1 0.11 Pr2 0.06 PrS 0.83 whose',
 'SFD Infinity  FFD Infinity  GD Infinity  TT Infinity  PrF 0.95 Pr1 0.74 Pr2 0.09 PrS 0.17 skill',
 'SFD 211  FFD 211  GD 228  TT 270  PrF 0.85 Pr1 0.75 Pr2 0.07 PrS 0.18 was',
 'SFD 262  FFD 248  GD 285  TT 286  PrF 1.00 Pr1 0.87 Pr2 0.13 PrS 0.00 perhaps',
 'SFD 251  FFD 246  GD 259  TT 265  PrF 0.91 Pr1 0.79 Pr2 0.08 PrS 0.13 have',
 'SFD 233  FFD 231  GD 235  TT 251  PrF 0.85 Pr1 0.81 Pr2 0.02 PrS 0.17 won',
 'SFD 218  FFD 217  GD 256  TT 270  PrF 0.92 Pr1 0.72 Pr2 0.18 PrS 0.10 more',
 'SFD 227  FFD 222  GD 253  TT 263  PrF 0.95 Pr1 0.75 Pr2 0.16 PrS 0.09 than',
 'SFD 217  FFD 217  GD 228  TT 228  PrF 0.84 Pr1 0.75 Pr2 0.05 PrS 0.20 his',
 'SFD 211  FFD 211  GD 211  TT 209  PrF 0.51 Pr1 0.50 Pr2 0.00 PrS 0.50 a',
 'SFD 232  FFD 234  GD 386  TT 393  PrF 1.00 Pr1 0.44 Pr2 0.56 PrS 0.00 banker',
 'SFD 277  FFD 249  GD 316  TT 324  PrF 0.97 Pr1 0.72 Pr2 0.24 PrS 0.04 engaged',
 'SFD 237  FFD 236  GD 241  TT 246  PrF 0.71 Pr1 0.67 Pr2 0.02 PrS 0.31 at',
 'SFD 245  FFD 226  GD 313  TT 334  PrF 1.00 Pr1 0.65 Pr2 0.34 PrS 0.01 enormous',
 'SFD 209  FFD 210  GD 211  TT 210  PrF 0.87 Pr1 0.85 Pr2 0.01 PrS 0.14 the',
 'SFD 242  FFD 236  GD 270  TT 281  PrF 0.94 Pr1 0.76 Pr2 0.14 PrS 0.10 whole',
 'SFD 221  FFD 220  GD 227  TT 239  PrF 0.67 Pr1 0.63 Pr2 0.03 PrS 0.34 of',
 'SFD 217  FFD 219  GD 303  TT 310  PrF 0.97 Pr1 0.59 Pr2 0.38 PrS 0.03 their',
 'SFD 247  FFD 245  GD 257  TT 263  PrF 0.92 Pr1 0.84 Pr2 0.06 PrS 0.10 cash',
 'SFD 214  FFD 216  GD 229  TT 233  PrF 0.68 Pr1 0.60 Pr2 0.05 PrS 0.35 in',
 'SFD 194  FFD 200  GD 237  TT 248  PrF 0.89 Pr1 0.68 Pr2 0.17 PrS 0.15 his',
 'SFD 228  FFD 228  GD 228  TT 227  PrF 0.91 Pr1 0.88 Pr2 0.00 PrS 0.12 was',
 'SFD 221  FFD 221  GD 249  TT 268  PrF 0.97 Pr1 0.81 Pr2 0.14 PrS 0.05 also',
 'SFD 224  FFD 224  GD 224  TT 242  PrF 0.45 Pr1 0.41 Pr2 0.00 PrS 0.59 a',
 'SFD 230  FFD 219  GD 339  TT 360  PrF 1.00 Pr1 0.46 Pr2 0.54 PrS 0.00 beaver',
 'SFD 236  FFD 233  GD 243  TT 249  PrF 0.86 Pr1 0.78 Pr2 0.05 PrS 0.17 that',
 'SFD 247  FFD 234  GD 289  TT 307  PrF 0.94 Pr1 0.71 Pr2 0.23 PrS 0.06 paced',
 'SFD 222  FFD 222  GD 225  TT 234  PrF 0.71 Pr1 0.69 Pr2 0.01 PrS 0.30 on',
 'SFD 200  FFD 213  GD 252  TT 259  PrF 0.93 Pr1 0.72 Pr2 0.21 PrS 0.07 the',
 'SFD 226  FFD 218  GD 257  TT 267  PrF 0.99 Pr1 0.89 Pr2 0.10 PrS 0.01 would',
 'SFD 258  FFD 256  GD 263  TT 258  PrF 0.76 Pr1 0.68 Pr2 0.04 PrS 0.28 sit',
 'SFD 242  FFD 233  GD 300  TT 329  PrF 0.98 Pr1 0.71 Pr2 0.26 PrS 0.03 making',
 'SFD 252  FFD 243  GD 266  TT 275  PrF 0.88 Pr1 0.74 Pr2 0.11 PrS 0.15 lace',
 'SFD 227  FFD 226  GD 230  TT 236  PrF 0.69 Pr1 0.66 Pr2 0.01 PrS 0.33 in',
 'SFD 194  FFD 207  GD 237  TT 245  PrF 0.88 Pr1 0.71 Pr2 0.16 PrS 0.13 the',
 'SFD 220  FFD 220  GD 220  TT 221  PrF 0.91 Pr1 0.89 Pr2 0.00 PrS 0.11 had',
 'SFD 233  FFD 222  GD 257  TT 262  PrF 0.97 Pr1 0.81 Pr2 0.13 PrS 0.06 often',
 'SFD 233  FFD 231  GD 239  TT 244  PrF 0.85 Pr1 0.78 Pr2 0.04 PrS 0.18 the',
 'SFD 262  FFD 241  GD 302  TT 317  PrF 1.00 Pr1 0.77 Pr2 0.22 PrS 0.01 bellman',
 'SFD 258  FFD 256  GD 257  TT 273  PrF 0.93 Pr1 0.91 Pr2 0.01 PrS 0.08 said',
 'SFD 238  FFD 226  GD 273  TT 280  PrF 0.98 Pr1 0.82 Pr2 0.16 PrS 0.02 saved',
 'SFD 232  FFD 228  GD 234  TT 242  PrF 0.88 Pr1 0.82 Pr2 0.04 PrS 0.14 them',
 'SFD 225  FFD 223  GD 241  TT 239  PrF 0.97 Pr1 0.80 Pr2 0.10 PrS 0.10 from',
 'SFD 254  FFD 250  GD 263  TT 273  PrF 0.95 Pr1 0.85 Pr2 0.07 PrS 0.08 none',
 'SFD 219  FFD 220  GD 223  TT 222  PrF 0.69 Pr1 0.64 Pr2 0.01 PrS 0.35 of',
 'SFD 198  FFD 202  GD 238  TT 256  PrF 0.86 Pr1 0.69 Pr2 0.15 PrS 0.16 the',
 'SFD 238  FFD 218  GD 312  TT 332  PrF 0.99 Pr1 0.62 Pr2 0.36 PrS 0.02 sailors',
 'SFD 249  FFD 244  GD 258  TT 268  PrF 0.86 Pr1 0.78 Pr2 0.07 PrS 0.15 knew',
 'SFD 241  FFD 240  GD 242  TT 242  PrF 0.88 Pr1 0.86 Pr2 0.01 PrS 0.13 was',
 'SFD 218  FFD 219  GD 245  TT 260  PrF 0.82 Pr1 0.68 Pr2 0.10 PrS 0.22 one',
 'SFD 222  FFD 222  GD 258  TT 265  PrF 0.81 Pr1 0.62 Pr2 0.15 PrS 0.23 who',
 'SFD 208  FFD 209  GD 226  TT 245  PrF 0.87 Pr1 0.76 Pr2 0.09 PrS 0.15 was',
 'SFD 225  FFD 215  GD 273  TT 281  PrF 0.94 Pr1 0.68 Pr2 0.25 PrS 0.07 famed',
 'SFD 227  FFD 232  GD 245  TT 245  PrF 0.89 Pr1 0.74 Pr2 0.07 PrS 0.19 for',
 'SFD 207  FFD 206  GD 213  TT 239  PrF 0.82 Pr1 0.78 Pr2 0.03 PrS 0.19 the',
 'SFD 234  FFD 224  GD 302  TT 314  PrF 0.99 Pr1 0.67 Pr2 0.31 PrS 0.02 number',
 'SFD 242  FFD 240  GD 244  TT 244  PrF 0.65 Pr1 0.62 Pr2 0.01 PrS 0.37 of',
 'SFD 250  FFD 245  GD 259  TT 260  PrF 1.00 Pr1 0.94 Pr2 0.06 PrS 0.00 forgot',
 'SFD 246  FFD 245  GD 252  TT 271  PrF 0.95 Pr1 0.89 Pr2 0.05 PrS 0.06 when',
 'SFD 227  FFD 226  GD 231  TT 235  PrF 0.66 Pr1 0.62 Pr2 0.02 PrS 0.36 he',
 'SFD 240  FFD 224  GD 333  TT 345  PrF 1.00 Pr1 0.56 Pr2 0.43 PrS 0.01 entered',
 'SFD 226  FFD 223  GD 229  TT 227  PrF 0.84 Pr1 0.79 Pr2 0.03 PrS 0.18 the',
 'SFD 267  FFD 248  GD 305  TT 312  PrF 1.00 Pr1 0.82 Pr2 0.18 PrS 0.00 umbrella',
 'SFD 258  FFD 254  GD 260  TT 263  PrF 0.82 Pr1 0.77 Pr2 0.03 PrS 0.20 his',
 'SFD 239  FFD 238  GD 269  TT 284  PrF 0.96 Pr1 0.79 Pr2 0.15 PrS 0.06 watch',
 'SFD 229  FFD 230  GD 233  TT 250  PrF 0.91 Pr1 0.88 Pr2 0.02 PrS 0.10 all',
 'SFD 221  FFD 221  GD 230  TT 239  PrF 0.90 Pr1 0.84 Pr2 0.04 PrS 0.12 his',
 'SFD 252  FFD 241  GD 290  TT 296  PrF 0.99 Pr1 0.78 Pr2 0.20 PrS 0.02 jewels',
 'SFD 236  FFD 234  GD 238  TT 235  PrF 0.80 Pr1 0.74 Pr2 0.02 PrS 0.24 and',
 'SFD 216  FFD 216  GD 216  TT 216  PrF 0.88 Pr1 0.86 Pr2 0.00 PrS 0.14 the',
 'SFD 248  FFD 245  GD 288  TT 301  PrF 1.00 Pr1 0.83 Pr2 0.17 PrS 0.00 clothes',
 'SFD 249  FFD 249  GD 252  TT 267  PrF 0.80 Pr1 0.75 Pr2 0.01 PrS 0.24 he',
 'SFD 205  FFD 209  GD 229  TT 246  PrF 0.84 Pr1 0.72 Pr2 0.10 PrS 0.18 had',
 'SFD 244  FFD 226  GD 306  TT 309  PrF 0.99 Pr1 0.66 Pr2 0.31 PrS 0.03 bought',
 'SFD 235  FFD 234  GD 235  TT 248  PrF 0.89 Pr1 0.88 Pr2 0.01 PrS 0.11 for',
 'SFD 194  FFD 198  GD 210  TT 220  PrF 0.85 Pr1 0.79 Pr2 0.06 PrS 0.15 the']

### Calculate Error

### Grid Search

### Evaluate

## EZReader Wrapper Usage Document

### Load Corpus File

```python3
def __init__(self, corpus="datasets/1_1_corpus.txt", target="datasets/1_1_target.txt", simulation="worddvs", num_subject=10):
        """Wrapper for EZReader in Python

        Parameters
        ----------
        corpus : str
            name of the corpus file
        target : str
            name of the target file
        """
        self.corpus = corpus
        self.target = target
        self.simulation = simulation
        self.num_subject = num_subject

        self.params = {}
        self.output = "outputs/result.txt"
```